extends layout

block layout-content
  .about-website(style='padding-top: 50px;')
    img.about-background(src='https://images.unsplash.com/photo-1617103996702-96ff29b1c467?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80', alt='Background Image', style='width: 100%; height: auto; max-height: 100vh; object-fit: cover;')
    .about-columns
      .about-box
        p.decor-haven-text(style='color: white;')
          | Founded in 2012, Decor Haven has been on a mission to transform houses into homes through meticulously curated furnishings and decor. With a dedication to quality, aesthetics, and the art of interior design, we have become a trusted name in the industry.
      .about-box
        p.about-our-approach(style='color: white;')
          | At Decor Haven, we believe that your living spaces should be a reflection of your personal style and comfort. Our approach centers around the seamless blend of artistic craftsmanship and functional elegance. Every piece is carefully selected to resonate with the unique aspirations of our customers.
      .about-box
        p.expert-curation(style='color: white;')
          | Our journey is one of continuous exploration and collaboration. We collaborate with renowned designers and artisans, both locally and globally, to bring you a diverse range of products that span from classic to contemporary styles. Our team of experts ensures that each item meets our exacting standards.
      .about-box
        p.crafted-with-passion(style='color: white;')
          | Passion fuels every step of our process. From the initial design concept to the meticulous crafting of each piece, we infuse our creations with a deep appreciation for the materials and techniques that shape them. We celebrate the imperfections that make each product one of a kind.
      .about-box
        p.uniqueness-of-stone(style='color: white;')
          | Natural stone is at the heart of many of our creations. We are captivated by the inherent uniqueness of each stone, reflecting the forces of nature over time. Our products embrace the raw beauty of stone, allowing you to bring the earth's elegance into your living spaces.
      .about-box
        p.legacy-of-elegance(style='color: white;')
          | Decor Haven is more than a brand; it's a legacy of elegance. As we continue to evolve and grow, our commitment to enriching lives through exquisite decor remains steadfast. Join us in this journey of transforming your house into a haven of comfort, style, and warmth.
