extends layout

block layout-content
    div#custom-background
        .custom-container.center-content
            h2
                span Create Your Perfect Haven with Our Distinctive Furnishings
            p Immerse yourself in a world of exquisite furniture and decor, carefully selected to redefine your living spaces.
            a(class="custom-button", href="/product") Begin Your Home Journey
        img(class="custom-image", src="https://images.unsplash.com/photo-1534349762230-e0cadf78f5da?ixlib=rb-4.0.3&auto=format&fit=crop&w=1470&q=80")
