extends layout

block layout-content
  .product-container
    .product-cards
      img.product-image(src="https://images.unsplash.com/photo-1562113530-57ba467cea38?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Y2hhaXJ8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=800&q=60")
      .product-description
        p Discover Elegant Furniture
    .product-cards
      img.product-image(src="https://images.unsplash.com/photo-1606855637183-ea2a00b6f15f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmVkZGluZ3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60")
      .product-description
        p Luxurious Bedding and Baths
    .product-cards
      img.product-image(src="https://images.unsplash.com/photo-1572427734891-5592aae758b2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGN1c2hpb258ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=800&q=60")
      .product-description
        p Cozy Pillows for Every Mood
    .product-cards
      img.product-image(src="https://images.unsplash.com/photo-1669789421123-1dd6a81b2f2c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8c21lZ3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60")
      .product-description
        p Modern Appliances for Convenience
    .product-cards
      img.product-image(src="https://images.unsplash.com/photo-1577495917765-9497a0de7caa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8c21lZ3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60")
      .product-description
        p Transform Your Kitchen Space
    .product-cards
      img.product-image(src="https://images.unsplash.com/photo-1520690594286-1aadf7e7af36?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDh8fGJhcmJlY3VlfGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60")
      .product-description
        p Embrace the Outdoors in Style
    .product-cards
      img.product-image(src="https://images.unsplash.com/photo-1609241394990-32f7b81111c1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDExfHx8ZW58MHx8fHx8&auto=format&fit=crop&w=800&q=60")
      .product-description
        p Playful and Imaginative Toys
